.calendar {
  width: 100%;
  max-height: 900px;
  font-weight: 700;

  padding: 2rem;
  align-self: center;
  color: $secondary-color;

  .select__date {
    margin-bottom: 2rem;
  }

  #year,
  #month {
    @extend .box-shadow, .font-size-secondary;
    height: 3.2rem;
  }

  .month__name {
    font-size: 2rem;
    text-align: center;
    color: $text-title;
    margin-bottom: 2rem;
  }

  .week__days {
    @extend .font-size-primary;
    border-bottom: 1px solid $secondary-color;
    padding: 0.4rem 0;
  }

  .week__days,
  .days {
    @include align-center(grid);
    grid-template-columns: repeat(7, 12%);

    row-gap: 1.6rem;
    column-gap: 1rem;
    margin-top: 1rem;

    list-style: none;
    text-align: center;
  }

  .days {
    .last__month,
    .this__month {
      @include align-center(flex);
      @extend .no-bg, .font-size-secondary;

      width: 100%;
      height: 8vh;
      border: none;

      cursor: pointer;
    }

    .today {
      background-color: $tertiary-color;
      color: whitesmoke;
    }

    .this__month {
      position: relative;
      transition: linear 0.4s;

      &:focus {
        @extend .no-bg;
        outline: none;
        color: $primary-color;
        border: 1px solid $primary-color;
        box-shadow: 2px 2px 6px $primary-color;
      }
    }

    .selected {
      color: $white-color;
      background-color: $primary-color;
    }

    .last__month {
      color: $neutral-color;
    }
  }

  .example {
    @extend .font-size-primary;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .example__both,
  .example__task,
  .example__event {
    width: 18px;
    height: 12px;
    margin: 0.4rem 0;
  }

  .has__both,
  .has__task,
  .has__event {
    position: absolute;
    width: 25%;
    height: 32%;
    top: 0;
    right: 0;
  }

  .example__both,
  .has__both {
    background-color: rgb(88, 41, 177);
  }

  .example__task,
  .has__task {
    background-color: $primary-color;
  }

  .example__event,
  .has__event {
    background-color: rgb(45, 209, 132);
  }
}
