.calendar {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 2rem;
  font-weight: 700;
  color: $secondary-color;

  .month__name {
    font-size: 2rem;
    text-align: center;
    color: $text-title;
  }

  .week__days {
    font-size: 1.4rem;
    border-bottom: 1px solid $secondary-color;
    padding: 0.4rem 0;
  }

  .week__days,
  .days {
    display: grid;
    grid-template-columns: repeat(7, 12%);
    justify-content: center;
    align-items: center;

    row-gap: 1.5rem;
    column-gap: 1rem;
    margin-top: 1rem;

    list-style: none;
    text-align: center;
  }

  .days {
    .last__month,
    .this__month {
      width: 100%;
      height: 8vh;
      font-size: 1.6rem;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $background-color;
      cursor: pointer;
    }

    .today {
      background-color: rgb(223, 53, 53);
      color: whitesmoke;
    }

    .this__month {
      transition: linear 0.4s;

      &:focus {
        color: $primary-color;
        outline: none;
        border: 1px solid $primary-color;
        box-shadow: 2px 2px 6px $primary-color;
        background-color: $background-color;
      }
    }

    .selected {
      color: #fff;
      background-color: $primary-color;
      &:focus {
        color: #fff;
        background-color: $primary-color;
      }
    }

    .last__month {
      color: $neutral-color;
    }
  }
}

// @media (min-width: 700px) {
//   .calendar {
//   }
// }
