.menu {
  @include default-flex;
  @extend .bg-white;
  
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: $secondary-spacing;
  
  z-index: 5;
  transform: translateX(-120%);
  transition: linear 0.4s;

  .selected__day {
    @extend .font-size-secondary;
    color: $text-title;
  }

  .create {
    @include default-flex;
    align-items: center;

    #body {
      @extend .box-shadow;
      width: 100%;
      height: 8rem;
      
      resize: none;
      padding: 1rem;
      font-size: 2.4rem;
      margin-bottom: $secondary-spacing;
    }

    #todo {
      font-size: 1.8rem;
      padding: $primary-spacing;
      margin-bottom: $secondary-spacing;
    }

    button {
      @extend .button;
      cursor: pointer;
      margin-top: 10px;
      transition: button 0.3s;

      &:hover {
        background-color: #6b7897;
        opacity: 0.8;
      }
    }

    #todo,
    button {
      width: 100%;
      max-width: 100%;
    }
  }

  .create__event {
    width: 100%;

    #event {
      display: none;
    }

    label {
      @extend .box-shadow, .font-size-primary;
      display: inline-block;
      width: 8rem;

      text-align: center;
      margin-bottom: 1rem;
      cursor: pointer;
    }

    #event:checked ~ label {
      color: white;
      background-color: $tertiary-color;
    }
  }

  .event__config {
    transform: scale(0);
    transition: transform 0.4s;
  }

  .event__config.active {
    transform: scale(1);
    #title,
    #first-alert {
      @extend .box-shadow, .font-size-primary;
      width: 100%;
      padding: 1rem;
      margin-bottom: $primary-spacing;
    }
  }
}

.menu.on {
  transform: translateX(0);
  left: 0;
}

.mobile__menu {
  @include default-flex;

  position: fixed;
  width: 8rem;
  height: 10vh;
  flex-direction: initial;


  z-index: 10;
  bottom: 0;
  right: 0;
  button {
    @extend .font-size-primary;
    width: 100%;
    border: none;
    color: $white-color;

    border-radius: 40% 0 0 40%;
    background-color: $primary-color;
  }
}

@media (min-width: 700px) {
  .menu {
    transform: translateX(0);
    position: relative;
    height: 100vh;
    max-width: 400px;

    border: 1px solid rgb(200, 200, 200);
    box-shadow: 2px 2px 8px rgba(200, 200, 200, 0.5);
  }

  .mobile__menu {
    display: none;
  }
}
