.todo__menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: $secondary-spacing;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #fff;
  transform: translateX(-120%);
  transition: linear 0.4s;

  .selected__day {
    font-size: 1.6rem;
    color: $text-title;
  }

  .create__todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #body {
      @extend .box-shadow;
      width: 100%;
      height: 8rem;
      
      resize: none;
      padding: 1rem;
      font-size: 2.4rem;
      margin-bottom: $secondary-spacing;
    }

    #todo {
      font-size: 1.8rem;
      padding: $primary-spacing;
      margin-bottom: $secondary-spacing;
    }

    button {
      @extend .button;
      cursor: pointer;
      margin-top: 10px;
      transition: button 0.3s;

      &:hover {
        background: #6b7897;
        opacity: 0.8;
      }
    }

    #todo,
    button {
      width: 100%;
      max-width: 100%;
    }
  }

  .create__event {
    width: 100%;

    label {
      font-size: 1.4rem;
    }
  }

  .event__config {
    transform: scale(0);
    transition: transform 0.4s;
  }

  .event__config.active {
    transform: scale(1);
    #title,
    #first-alert {
      @extend .box-shadow;
      width: 100%;
      padding: 1rem;
      font-size: 1.4rem;
      margin-bottom: $primary-spacing;
    }
  }
}

.todo__menu.on {
  transform: translateX(0);
  left: 0;
}

.mobile__menu {
  position: fixed;
  display: flex;
  width: 8rem;
  height: 10vh;
  justify-content: center;

  bottom: 0;
  right: 0;
  button {
    width: 100%;
    border: none;
    
    font-size: 1.4rem;
    color: #fff;

    border-radius: 40% 0 0 40%;
    background-color: $primary-color;
  }
}


@media (min-width: 700px) {
  .todo__menu {
    transform: translateX(0);
    position: relative;
    height: 100vh;
    max-width: 400px;

    border: 1px solid rgb(200, 200, 200);
    box-shadow: 2px 2px 8px rgba(200, 200, 200, 0.5);
  }

  .mobile__menu {
    display: none;
  }
}
