.listing__todo {
  @extend .box-shadow;
  height: 35vh;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.5rem;
  margin-bottom: $secondary-spacing;


  .to-do {
    position: relative;
    margin: 1rem 0;
    display: flex;
    .content {
      width: 100%;
      height: 100%;
      padding: 0 0.6rem;
      min-height: 3.2rem;
      font-size: 1.6rem;  
      overflow: hidden;
      
      &:focus {
        outline: none;
        background: #60cdff50;
      }
    }

    .text {
      max-width: 100%;
      padding: 0 1rem;
      word-break: break-word;
      grid-area: text_content;
    }

    .input {
      display: none;
      grid-area: check;
    }

    .delete {
      height: 3.2rem;
      border: none;
      background-color: transparent;

      font-size: 1.6rem;
      color: $primary-color;

      cursor: pointer;
      align-self: center;
      transition: color 0.6s;

      &:hover {
        color: $third-color;
      }
    }

    &:hover {
      background: #60cdff50;
    }

    transition: 0.2s;
  }

  .input + label {
    margin: 0 0.2rem;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .input + label:before {
    content: "\2714";
    border: 2px solid #60cdff;
    display: inline-block;
    width: 2rem;
    height: 2.4rem;

    padding-left: 0.8rem;
    padding-top: 0.2rem;

    vertical-align: middle;
    color: transparent;
    transition: 0.4s;
  }

  .input + label:active:before {
    transform: scale(0.1);
  }

  .input:checked + label:before {
    background: #60cdff;
    border-color: #60cdff;
    color: #fff;
  }

  .input:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }

  .input:checked + label:before {
    transform: scale(1);
    background-color: #60cdff;
    border-color: #60cdff;
  }

  .input:checked ~ label span {
    color: gray;
    text-decoration: line-through;
  }
}
