.listing__todo {
  @extend .box-shadow;
  height: 35vh;
  padding: 0.5rem;
  list-style: none;
  
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: $secondary-spacing;

  transition: 0.2s;

  .to-do {
    position: relative;
    margin: 1rem 0;
    display: flex;
    min-height: 2.8rem;

    .content {
      width: 100%;
      height: 100%;
      padding: 0 0.6rem;
      min-height: 2.8rem;
      
      font-size: 1.8rem;  
      overflow: hidden;
      
      &:focus {
        outline: none;
        background: #60cdff50;
      }
    }

    .input {
      display: none;
      grid-area: check;
    }

    .delete {
      height: 3.2rem;
      border: none;
      background-color: transparent;

      font-size: 1.6rem;
      color: $primary-color;

      cursor: pointer;
      align-self: center;
      transition: color 0.6s;

      &:hover {
        color: $third-color;
      }
    }
  }

  .input + label {
    margin: 0 0.2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .input + label:before {
    content: "\2714";
    border: 2px solid $primary-color;
    display: inline-block;
    width: 2rem;
    height: 2.2rem;

    padding-left: 0.8rem;
    padding-top: 0.2rem;

    vertical-align: middle;
    color: transparent;
    transition: 0.4s;
  }

  .input + label:active:before {
    transform: scale(0.1);
  }

  .input:checked + label:before {
    background: $primary-color;
    border-color: $primary-color;
    color: #fff;
  }

  .input:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }

  .input:checked + label:before {
    transform: scale(1);
    background-color: $primary-color;
    border-color: $primary-color;
  }

  .input:checked ~ label span {
    color: gray;
    text-decoration: line-through;
  }
}
