$background-color: #f5f5f5;
$primary-color: #60CDFF;
$secondary-color: #6d7695;
$text-title: #3a495e;
$neutral-color: #959595;

$primary-spacing: 1rem;
$secondary-spacing: 2rem;

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
}

@import "menu";
@import "calendar";