$text-title: #3a495e;
$neutral-color: #959595;

$primary-spacing: 1rem;
$secondary-spacing: 2rem;

:root {
  --color-white: #fff;
  --color-gray: #f5f5f5;

  --color-primary: #60cdff;
  --color-primary-dark: #499ABF;
  --color-secondary: #6d7695;
  --color-tertiary: rgb(220, 50, 50);

  --color-text-title: #3a495e;

  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background-color: var(--color-gray);

  h1 {
    position: absolute;
    width: 90%;
    text-align: center;

    left: 50%;
    top: 2rem;
    transform: translateX(-50%);
  }
}

@mixin default-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin align-center($display) {
  display: #{$display};
  align-items: center;
  justify-content: center;
}

@mixin box-shadow {
  background-color: var(--color-gray);
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 2px 2px 8px rgba(190, 190, 190, 0.2);
}

@import "./components/c-calendar";
@import "./components/c-button";
@import "./components/c-todo";

@import "./layouts/l-menu";
@import "./layouts/l-calendar";
@import "notifications";

@media (min-width:700px) {
  body h1 {
    position: absolute;
    width: 24rem;
    text-align: center;

    right: 2rem;
    left: initial;
    top: 2rem;
    transform: initial;
  }
}