:root {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}

.box-shadow, .todo__menu .create__todo #body, .todo__menu .event__config.active #title,
.todo__menu .event__config.active #first-alert, .calendar #year,
.calendar #month, .listing__todo, .notifications .notify {
  background: #f5f5f5;
  border: 1px solid #c8c8c8;
  -webkit-box-shadow: 2px 2px 8px rgba(190, 190, 190, 0.2);
          box-shadow: 2px 2px 8px rgba(190, 190, 190, 0.2);
}

.button, .todo__menu .create__todo button {
  height: 4rem;
  border: none;
  border-radius: 4px;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: #60cdff;
}

.todo__menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}

.todo__menu .selected__day {
  font-size: 1.6rem;
  color: #3a495e;
}

.todo__menu .create__todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo__menu .create__todo #body {
  width: 100%;
  height: 8rem;
  resize: none;
  padding: 1rem;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.todo__menu .create__todo #todo {
  font-size: 1.8rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.todo__menu .create__todo button {
  cursor: pointer;
  margin-top: 10px;
  -webkit-transition: button 0.3s;
  transition: button 0.3s;
}

.todo__menu .create__todo button:hover {
  background: #6b7897;
  opacity: 0.8;
}

.todo__menu .create__todo #todo,
.todo__menu .create__todo button {
  width: 100%;
  max-width: 100%;
}

.todo__menu .create__event {
  width: 100%;
}

.todo__menu .create__event label {
  font-size: 1.4rem;
}

.todo__menu .event__config {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.todo__menu .event__config.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.todo__menu .event__config.active #title,
.todo__menu .event__config.active #first-alert {
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.todo__menu.on {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  left: 0;
}

.mobile__menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8rem;
  height: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  right: 0;
}

.mobile__menu button {
  width: 100%;
  border: none;
  font-size: 1.4rem;
  color: #fff;
  border-radius: 40% 0 0 40%;
  background-color: #60cdff;
}

@media (min-width: 700px) {
  .todo__menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: relative;
    height: 100vh;
    max-width: 400px;
    border: 1px solid #c8c8c8;
    -webkit-box-shadow: 2px 2px 8px rgba(200, 200, 200, 0.5);
            box-shadow: 2px 2px 8px rgba(200, 200, 200, 0.5);
  }
  .mobile__menu {
    display: none;
  }
}

.calendar {
  width: 100%;
  max-height: 900px;
  font-weight: 700;
  padding: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #6d7695;
}

.calendar .select__date {
  margin-bottom: 2rem;
}

.calendar #year,
.calendar #month {
  height: 3.2rem;
  font-size: 1.6rem;
}

.calendar .month__name {
  font-size: 2rem;
  text-align: center;
  color: #3a495e;
  margin-bottom: 2rem;
}

.calendar .week__days {
  font-size: 1.4rem;
  border-bottom: 1px solid #6d7695;
  padding: 0.4rem 0;
}

.calendar .week__days,
.calendar .days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12%)[7];
      grid-template-columns: repeat(7, 12%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.5rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  margin-top: 1rem;
  list-style: none;
  text-align: center;
}

.calendar .days .last__month,
.calendar .days .this__month {
  width: 100%;
  height: 8vh;
  font-size: 1.6rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  cursor: pointer;
}

.calendar .days .today {
  background-color: #dc3232;
  color: whitesmoke;
}

.calendar .days .this__month {
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}

.calendar .days .this__month:focus {
  color: #60cdff;
  outline: none;
  border: 1px solid #60cdff;
  -webkit-box-shadow: 2px 2px 6px #60cdff;
          box-shadow: 2px 2px 6px #60cdff;
  background-color: #f5f5f5;
}

.calendar .days .selected {
  color: #fff;
  background-color: #60cdff;
}

.calendar .days .selected:focus {
  color: #fff;
  background-color: #60cdff;
}

.calendar .days .last__month {
  color: #959595;
}

.listing__todo {
  height: 35vh;
  padding: 0.5rem;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.listing__todo .to-do {
  position: relative;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 2.8rem;
}

.listing__todo .to-do .content {
  width: 100%;
  height: 100%;
  padding: 0 0.6rem;
  min-height: 2.8rem;
  font-size: 1.8rem;
  overflow: hidden;
}

.listing__todo .to-do .content:focus {
  outline: none;
  background: #60cdff50;
}

.listing__todo .to-do .input {
  display: none;
  grid-area: check;
}

.listing__todo .to-do .delete {
  height: 3.2rem;
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  color: #60cdff;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}

.listing__todo .to-do .delete:hover {
  color: #dc3232;
}

.listing__todo .input + label {
  margin: 0 0.2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.listing__todo .input + label:before {
  content: "\2714";
  border: 2px solid #60cdff;
  display: inline-block;
  width: 2rem;
  height: 2.2rem;
  padding-left: 0.8rem;
  padding-top: 0.2rem;
  vertical-align: middle;
  color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.listing__todo .input + label:active:before {
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

.listing__todo .input:checked + label:before {
  background: #60cdff;
  border-color: #60cdff;
  color: #fff;
}

.listing__todo .input:disabled + label:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-color: #aaa;
}

.listing__todo .input:checked + label:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: #60cdff;
  border-color: #60cdff;
}

.listing__todo .input:checked ~ label span {
  color: gray;
  text-decoration: line-through;
}

.notifications {
  position: absolute;
  width: 100%;
  max-width: 400px;
  list-style: none;
  padding: 1rem;
  bottom: 0;
  right: 0;
  z-index: 20;
}

.notifications .notify {
  position: relative;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fff;
}

.notifications .notify .notify__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

.notifications .notify .notify__delete {
  width: 28px;
  height: 28px;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.notifications .notify .notify__body {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.notifications .error {
  border: 1px red solid;
  background-color: rgba(255, 0, 0, 0.7);
  color: #fff;
}

.notifications .error .notify__delete {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */